[submodule "interp/parser"]
	path = interp/parser
	url = http://github.com/resource-reasoning/JS_Parser.git
[submodule "lib/tlc"]
	path = lib/tlc
	url = git clone http://gforge.inria.fr/git/tlc/tlc.git
	ignore = dirty
